<%include main%>
<style>

    
#cover {
  padding-top: 90px;
  text-align:center;
  font-family: "SDMiSaeng" ;
  font-size: 50px;
  color: red;
  background: url("/images/cat2.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  position: relative;
  width: 100%;
}
</style>

</head>
<body>
  
        <%include navbar%>    
      <div class="wrapper">
            <div class="container">

                
                 <div class="row">
                    <div class="col-lg-9 center-page">
                        <div class="text-center">
                             <div id="ti">
                                <div class="row">
                                    <div class="col-sm-12">
                                        
                                        
                                      <div id="cover">
                                        <div class="cover-content">
                                          <p>저희가 대신 찾아서 매칭해드립니다.</p>
                                          <p>필요한 사항에 체크해주세요!</p>
                                        </div>
                                      </div>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t-40">

                            <!--Pricing Column-->
                            <article class="pricing-column col-lg-4 col-md-4">
                                <div class="ribbon"><span>일반인</span></div>
                                <div class="inner-box card-box">
                                    <div class="plan-header text-center">
                                        <h3 class="plan-title">단순 노가다 작업일 때</h3>
                                        <h2 class="plan-price"  style="font-size:33px">아무나!</h2>
                                        
                                    </div>
                                    <ul class="plan-stats list-unstyled text-center">
                                        <li><i class="ti-wand text-success"></i> 인터넷 사용 경험이 있음</li>
                                        <li><i class="ti-user text-success"></i> 단순한 분류 작업이나 간단한 라벨링과 같은 일</li>
                                        
                                    </ul>

                                    <div class="text-center">
                                        <a href="#" class="btn btn-danger btn-bordred btn-rounded waves-effect waves-light">대리찾기</a>
                                    </div>
                                </div>
                            </article>


                            <!--Pricing Column-->
                            <article class="pricing-column col-lg-4 col-md-4">
                                <div class="ribbon"><span>전문가</span></div>
                                <div class="inner-box card-box">
                                    <div class="plan-header text-center">
                                        <h3 class="plan-title" style="font-size:13px">많은 양의 정보를 처리하고 수집할 때</h3>
                                        <h2 class="plan-price" style="font-size:33px">빅데이터 전문가</h2>
                                        
                                    </div>
                                    <ul class="plan-stats list-unstyled text-center">
                                        
                                        <li><i class="ti-wand text-success"></i>Python, R/SAS 전문가</li>
                                        <li><i class="ti-user text-success"></i>방대한 양의 데이터를 전문적인 툴로 작업</li>
                                    </ul>
                                    <p class="ti-pin-alt" style="padding:5px">&nbsp선택할 컴퓨터 언어</p>
                                     <div class="checkbox checkbox-primary form-group">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        EXCEL
                                                    </label>
                                    </div>
                                     <div class="checkbox checkbox-primary form-group">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        PYTHON
                                                    </label>
                                    </div>
                                     <div class="checkbox checkbox-primary form-group">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        R/SAS
                                                    </label>
                                    </div>
                                    <p><br><br></p>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-danger btn-bordred btn-rounded waves-effect waves-light">대리찾기</a>
                                    </div>
                                    
                                </div>
                            </article>


                            <!--Pricing Column-->
                            <article class="pricing-column col-lg-4 col-md-4">
                                <div class="ribbon"><span>전문가</span></div>
                                <div class="inner-box card-box">
                                    <div class="plan-header text-center">
                                        <h3 class="plan-title" style="font-size:15px">특정 분야의 고급 정보가 필요할 때</h3>
                                        <h2 class="plan-price" style="font-size:33px">전문직 종사자</h2>
                                    </div>
                                    <ul class="plan-stats list-unstyled text-center">
                                        <li><i class="ti-wand text-success"></i>여러 분야의 전문가</li>
                                        <li><i class="ti-user text-success"></i>다양한 분야에서 흔하지 않은 정보가 필요할 경우</li>
                                    </ul>
                                    <p class="ti-pin-alt" style="padding:5px">&nbsp선택할 분야</p>
                                    <div class="checkbox checkbox-primary form-group">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        생명/의학/약학
                                                    </label>
                                    </div>
                                    <div class="checkbox checkbox-primary form-group">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        금융/경제
                                                    </label>
                                    </div>
                                    <div class="checkbox checkbox-primary form-group">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        IT/공학
                                                    </label>
                                    </div>
                                    <div class="checkbox checkbox-primary form-group">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        사회/교육/심리
                                                    </label>
                                    </div>
                                     <div class="checkbox checkbox-primary form-group">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        언어
                                                    </label>
                                    </div>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-danger btn-bordred btn-rounded waves-effect waves-light">대리찾기</a>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
           

            <%include footer%>
        </div>
        <!-- End wrapper -->
        
        <%include mainjs%>

    </body>
</html>