    <% include main%>
    <style>
    html, body {
      overflow-y:hidden;
      height:100%;
    }
         #video { 
      position: absolute;
      top: 0px;
      left: 0px;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
     
      overflow: hidden;
    }

    </style>
</head>

    <body class="login">
 <video src="/images/login2.mp4" id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
 </video>

        <div class="wrapper-page">

<div class="col-xs-12">
        
            <div class="text-center">
                <a href="/" class="logo logo-lg"><img src="/images/data-logo.png"></a>
            </div>
</div>
            <form class="form-horizontal m-t-20" id="user" action="/login/new" method="post">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="아이디 입력" name="user[uid]">
                        <i class="md md-perm-identity form-control-feedback l-h-34"></i>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password" name="user[password]">
                        <i class="md md-vpn-key form-control-feedback l-h-34"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password" name="user[passwordConfirmation]">
                        <i class="md md-vpn-key form-control-feedback l-h-34"></i>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="email" required="" placeholder="Email" name="user[email]">
                        <i class="md md-email form-control-feedback l-h-34"></i>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="이용자 이름" name="user[name]">
                        <i class="md md-account-circle form-control-feedback l-h-34"></i>
                    </div>
                </div>
                

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox-signup" type="checkbox" checked="checked">
                            <label for="checkbox-signup" style="color: MintCream">
                                I accept <a href="#" style="color: Lime">Terms and Conditions</a>
                            </label>
                        </div>

                    </div>
                </div>

                <div class="form-group text-right m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-custom waves-effect waves-light w-md" type="submit">Register</button>
                    </div>
                </div>

                <div class="form-group m-t-30">
                    <div class="col-sm-12 text-center">
                        <a href="pages-login.html" class="text-muted" style="color: MintCream">Already have account?</a>
                    </div>
                </div>
            </form>

        </div>

        
    	<script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <% include mainjs%>

       
	
	</body>
</html>