
<% include main%>

    </head>

    <body>


        <%include navbar%>
        <!-- =======================
             ===== START PAGE ======
             ======================= -->

        <div class="wrapper">
            <div class="container">


                <div class="row">

                    <!-- Left sidebar -->
                    <div class="col-lg-3 col-md-4">

                        <div class="m-t-20">
                            <a href="/med/new" class="btn btn-danger btn-custom btn-block waves-effect waves-light">새로 등록하기</a>

                            <div class="list-group mail-list  m-t-20">
                                <a href="#" class="list-group-item b-0"><i class="fa fa-download m-r-10"></i>금액높은순</a>
                                <a href="#" class="list-group-item b-0"><i class="fa fa-star-o m-r-10"></i>금액낮은순</a>
                                <a href="#" class="list-group-item b-0"><i class="fa fa-file-text-o m-r-10"></i>최신등록순</a>
                                <a href="#" class="list-group-item b-0"><i class="fa fa-paper-plane-o m-r-10"></i>마감임박순</a>
                            </div>
                            
                            <!--<div class="list-group mail-list  m-t-20">-->
                            <!--    <a href="mail-inbox.html" class="list-group-item b-0 active"><i class="fa fa-download m-r-10"></i>Inbox <b>(8)</b></a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-star-o m-r-10"></i>Starred</a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-file-text-o m-r-10"></i>Draft <b>(20)</b></a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-paper-plane-o m-r-10"></i>Sent Mail</a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-trash-o m-r-10"></i>Trash <b>(354)</b></a>-->
                            <!--</div>-->


                        </div>

                    </div>
                    <!-- End Left sidebar -->

                    <!-- Right Sidebar -->
                    <div class="col-lg-9 col-md-8">
                        
                        
                        <!--<div class="row" style="margin-bottom:20px">-->
                   
                        <!--    <div class="col-lg-3"></div>-->
                        <!--    <div class="col-lg-6">-->
                                    
                        <!--        <form role="search" class="form-inline">-->
                                            
                        <!--             <input type="text" class="form-control" placeholder="Search" style="width:90%;background-color:white; line-height:40px;height:40px;">-->
                        <!--             <a href=""><i class="fa fa-search"></i></a>-->
                                                
                        <!--        </form>-->
                        <!--    </div>            -->
                        <!--    <div class="col-lg-3"></div>            -->
                                   
                            
                        <!--</div>-->
                        
                        
                        <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            
                            <table id="demo-foo-filtering" class="table toggle-circle m-b-0" data-page-size="7">
                                <thead>
                                    <tr>
                                        <th data-toggle="false">작성자</th>
                                        <th>제목</th>
                                        <th data-hide="phone">내용</th>
                                        <th data-hide="phone, tablet">날짜</th>
                                        <th data-hide="phone, tablet">상태</th>
                                    </tr>
                                </thead>
                                <div class="form-inline m-b-20">
                                    <div class="row" style="margin-bottom:20px">
                   
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                            
                                        <form role="search" class="form-inline">
                                                    
                                             <input type="text" class="form-control" placeholder="Search" style="width:90%;background-color:white; line-height:40px;height:40px;">
                                             <a href=""><i class="fa fa-search"></i></a>
                                                        
                                        </form>
                                    </div>            
                                    <div class="col-lg-3"></div>            
                                           
                                    
                                </div>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>Isidra</td>
                                        <td>Boudreaux</td>
                                        <td>Traffic Court Referee</td>
                                        <td>22 Jun 1972</td>
                                        <td><span class="label label-table label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Shona</td>
                                        <td>Woldt</td>
                                        <td>Airline Transport Pilot</td>
                                        <td>3 Oct 1981</td>
                                        <td><span class="label label-table label-inverse">Disabled</span></td>
                                    </tr>
                                    <tr>
                                        <td>Granville</td>
                                        <td>Leonardo</td>
                                        <td>Business Services Sales Representative</td>
                                        <td>19 Apr 1969</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Easer</td>
                                        <td>Dragoo</td>
                                        <td>Drywall Stripper</td>
                                        <td>13 Dec 1977</td>
                                        <td><span class="label label-table label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Maple</td>
                                        <td>Halladay</td>
                                        <td>Aviation Tactical Readiness Officer</td>
                                        <td>30 Dec 1991</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Maxine</td>
                                        <td><a href="#">Woldt</a></td>
                                        <td><a href="#">Business Services Sales Representative</a></td>
                                        <td>17 Oct 1987</td>
                                        <td><span class="label label-table label-inverse">Disabled</span></td>
                                    </tr>
                                    <tr>
                                        <td>Lorraine</td>
                                        <td>Mcgaughy</td>
                                        <td>Hemodialysis Technician</td>
                                        <td>11 Nov 1983</td>
                                        <td><span class="label label-table label-inverse">Disabled</span></td>
                                    </tr>
                                    <tr>
                                        <td>Lizzee</td>
                                        <td><a href="#">Goodlow</a></td>
                                        <td>Technical Services Librarian</td>
                                        <td>1 Nov 1961</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Judi</td>
                                        <td>Badgett</td>
                                        <td>Electrical Lineworker</td>
                                        <td>23 Jun 1981</td>
                                        <td><span class="label label-table label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Lauri</td>
                                        <td>Hyland</td>
                                        <td>Blackjack Supervisor</td>
                                        <td>15 Nov 1985</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Isidra</td>
                                        <td>Boudreaux</td>
                                        <td>Traffic Court Referee</td>
                                        <td>22 Jun 1972</td>
                                        <td><span class="label label-table label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Shona</td>
                                        <td>Woldt</td>
                                        <td>Airline Transport Pilot</td>
                                        <td>3 Oct 1981</td>
                                        <td><span class="label label-table label-inverse">Disabled</span></td>
                                    </tr>
                                    <tr>
                                        <td>Granville</td>
                                        <td>Leonardo</td>
                                        <td>Business Services Sales Representative</td>
                                        <td>19 Apr 1969</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Easer</td>
                                        <td>Dragoo</td>
                                        <td>Drywall Stripper</td>
                                        <td>13 Dec 1977</td>
                                        <td><span class="label label-table label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Maple</td>
                                        <td>Halladay</td>
                                        <td>Aviation Tactical Readiness Officer</td>
                                        <td>30 Dec 1991</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Maxine</td>
                                        <td><a href="#">Woldt</a></td>
                                        <td><a href="#">Business Services Sales Representative</a></td>
                                        <td>17 Oct 1987</td>
                                        <td><span class="label label-table label-inverse">Disabled</span></td>
                                    </tr>
                                    <tr>
                                        <td>Lorraine</td>
                                        <td>Mcgaughy</td>
                                        <td>Hemodialysis Technician</td>
                                        <td>11 Nov 1983</td>
                                        <td><span class="label label-table label-inverse">Disabled</span></td>
                                    </tr>
                                    <tr>
                                        <td>Lizzee</td>
                                        <td><a href="#">Goodlow</a></td>
                                        <td>Technical Services Librarian</td>
                                        <td>1 Nov 1961</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Judi</td>
                                        <td>Badgett</td>
                                        <td>Electrical Lineworker</td>
                                        <td>23 Jun 1981</td>
                                        <td><span class="label label-table label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Lauri</td>
                                        <td>Hyland</td>
                                        <td>Blackjack Supervisor</td>
                                        <td>15 Nov 1985</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Isidra</td>
                                        <td>Boudreaux</td>
                                        <td>Traffic Court Referee</td>
                                        <td>22 Jun 1972</td>
                                        <td><span class="label label-table label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Shona</td>
                                        <td>Woldt</td>
                                        <td>Airline Transport Pilot</td>
                                        <td>3 Oct 1981</td>
                                        <td><span class="label label-table label-inverse">Disabled</span></td>
                                    </tr>
                                    <tr>
                                        <td>Granville</td>
                                        <td>Leonardo</td>
                                        <td>Business Services Sales Representative</td>
                                        <td>19 Apr 1969</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Easer</td>
                                        <td>Dragoo</td>
                                        <td>Drywall Stripper</td>
                                        <td>13 Dec 1977</td>
                                        <td><span class="label label-table label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Maple</td>
                                        <td>Halladay</td>
                                        <td>Aviation Tactical Readiness Officer</td>
                                        <td>30 Dec 1991</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Maxine</td>
                                        <td><a href="#">Woldt</a></td>
                                        <td><a href="#">Business Services Sales Representative</a></td>
                                        <td>17 Oct 1987</td>
                                        <td><span class="label label-table label-inverse">Disabled</span></td>
                                    </tr>
                                    <tr>
                                        <td>Lorraine</td>
                                        <td>Mcgaughy</td>
                                        <td>Hemodialysis Technician</td>
                                        <td>11 Nov 1983</td>
                                        <td><span class="label label-table label-inverse">Disabled</span></td>
                                    </tr>
                                    <tr>
                                        <td>Lizzee</td>
                                        <td><a href="#">Goodlow</a></td>
                                        <td>Technical Services Librarian</td>
                                        <td>1 Nov 1961</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                    <tr>
                                        <td>Judi</td>
                                        <td>Badgett</td>
                                        <td>Electrical Lineworker</td>
                                        <td>23 Jun 1981</td>
                                        <td><span class="label label-table label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Lauri</td>
                                        <td>Hyland</td>
                                        <td>Blackjack Supervisor</td>
                                        <td>15 Nov 1985</td>
                                        <td><span class="label label-table label-danger">Suspended</span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="text-right">
                                                <ul class="pagination pagination-split m-t-30 m-b-0"></ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                        

                    </div> <!-- end Col-9 -->

                </div><!-- End row -->
                

                <!-- Footer -->
                <%include footer%>
                <!-- End Footer -->

            </div> <!-- end container -->
        </div>
        <!-- End wrapper -->



        <%include mainjs%>
        <!--FooTable-->
		<script src="/js/plugins/footable.all.min.js"></script>
		<!--FooTable Example-->
		<script src="/js/jquery.footable.js"></script>


    </body>
</html>