<%include main%>
        <link rel="stylesheet" href="/stylesheets/plugins/summernote.css">
        
        <link href="/stylesheets/plugins/bootstrap-tagsinput.css" rel="stylesheet" />
        <link href="/stylesheets/plugins/multi-select.css"  rel="stylesheet" type="text/css" />
        <link href="/stylesheets/plugins/select2.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/plugins/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
        <link href="/stylesheets/plugins/bootstrap-timepicker.min.css" rel="stylesheet">
      <link href="/stylesheets/plugins/bootstrap-colorpicker.min.css" rel="stylesheet">
      <link href="/stylesheets/plugins/bootstrap-datepicker.min.css" rel="stylesheet">
      <link href="/stylesheets/plugins/daterangepicker.css" rel="stylesheet">
        <link href="/stylesheets/plugins/switchery.min.css" rel="stylesheet" />
        <link href="/sytlesheets/plugins/dropzone.css" rel="stylesheet"/>
    </head>


    <body>


        
        <%include navbar%>

        <!-- =======================
             ===== START PAGE ======
             ======================= -->

        <div class="wrapper">
            <div class="container">


            
                <div class="row">

                    <!-- Left sidebar -->
                    <div class="col-lg-3 col-md-4">

                        <div class="m-t-20">
                            <a href="/med" class="btn btn-danger btn-custom btn-block waves-effect waves-light">목록으로</a>

                            <div class="list-group mail-list  m-t-20">
                                <a href="#" class="list-group-item b-0"><i class="fa fa-download m-r-10"></i>금액높은순</a>
                                <a href="#" class="list-group-item b-0"><i class="fa fa-star-o m-r-10"></i>금액낮은순</a>
                                <a href="#" class="list-group-item b-0"><i class="fa fa-file-text-o m-r-10"></i>최신등록순</a>
                                <a href="#" class="list-group-item b-0"><i class="fa fa-paper-plane-o m-r-10"></i>마감임박순</a>
                            </div>
                            
                            <!--<div class="list-group mail-list  m-t-20">-->
                            <!--    <a href="mail-inbox.html" class="list-group-item b-0 active"><i class="fa fa-download m-r-10"></i>Inbox <b>(8)</b></a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-star-o m-r-10"></i>Starred</a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-file-text-o m-r-10"></i>Draft <b>(20)</b></a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-paper-plane-o m-r-10"></i>Sent Mail</a>-->
                            <!--    <a href="#" class="list-group-item b-0"><i class="fa fa-trash-o m-r-10"></i>Trash <b>(354)</b></a>-->
                            <!--</div>-->


                        </div>

                    </div>
                    <!-- End Left sidebar -->

                    <!-- Right Sidebar -->
                    <div class="col-lg-9 col-md-8">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box m-t-20">
                                    <div class="p-20" style="padding:40px">
                                        <form role="form" class="form-horizontal" action="/med/new" method="post">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="제목" name="title">
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="email" class="form-control" name="email" value=<%=data.email%> >
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="number" class="form-control" placeholder="예상금액" name="pay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                        
                                                        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose" name="date">
                                                        <span class="input-group-addon bg-primary b-0 text-white"><i class="ion-calendar"></i></span>
                                                        
                                                </div><!-- input-group -->
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="요약" name="summary">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="15" placeholder="내용입력" name="content"></textarea>
                                            </div>
                                            <!--<div class="form-group">-->
                                            <!--    <div class="summernote">-->
                                            <!--        <h6>요약 입력해주세요</h6>-->
                                            <!--        <ul>-->
                                            <!--            <li>-->
                                            <!--                Select a text to reveal the toolbar.-->
                                            <!--            </li>-->
                                            <!--            <li>-->
                                            <!--                Edit rich document on-the-fly, so elastic!-->
                                            <!--            </li>-->
                                            <!--        </ul>-->
                                            <!--        <p>-->
                                            <!--            End of air-mode area-->
                                            <!--        </p>-->

                                            <!--    </div>-->
                                            <!--</div>-->
                                            <!--<span class="upload">-->
                                            
                                            <!--       <input type="file" class="btn btn-purple waves-effect waves-light" name="profile"  >-->
                                            <!--</span>-->
                                            
                                            <div class="btn-toolbar form-group m-b-0">
                                                <div class="pull-right">
                                                    
                                                    <button class="btn btn-purple waves-effect waves-light"> <span>등록하기</span> <i class="fa fa-send m-l-10"></i> </button>
                                                </div>
                                            </div>

                                        </form>
                                        
                                        
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- End row -->


                    </div> <!-- end Col-9 -->

                </div><!-- End row -->



                <%include footer%>

            </div> <!-- end container -->
        </div>
        <!-- End wrapper -->



       <%include mainjs%>

        <!-- Summer note -->
        <script src="/js/plugins/summernote.min.js"></script>
        
        
        
        
        <script src="/js/plugins/switchery.min.js"></script>
        <script src="/js/plugins/bootstrap-tagsinput.min.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery.multi-select.js"></script>
        <script type="text/javascript" src="../plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
        <script src="/js/plugins/select2.min.js" type="text/javascript"></script>
        <script src="/js/plugins/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
        <script src="/js/plugins/bootstrap-inputmask.min.js" type="text/javascript"></script>

        <script src="/js/plugins/moment.js"></script>
        <script src="/js/plugins/bootstrap-timepicker.min.js"></script>
        <script src="/js/plugins/bootstrap-colorpicker.min.js"></script>
        <script src="/js/plugins/bootstrap-datepicker.min.js"></script>
        <script src="/js/plugins/daterangepicker.js"></script>
        <script src="/js/plugins/dropzone.js"></script>
        <script>
            jQuery(document).ready(function () {

                $('.summernote').summernote({
                    height: 350,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: false                 // set focus to editable area after initializing summernote
                });
                
               
            });
            
        </script>
        
        <script>
            jQuery(document).ready(function() {

                //advance multiselect start
                $('#my_multi_select3').multiSelect({
                    selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                    selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                    afterInit: function (ms) {
                        var that = this,
                            $selectableSearch = that.$selectableUl.prev(),
                            $selectionSearch = that.$selectionUl.prev(),
                            selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                            selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                            .on('keydown', function (e) {
                                if (e.which === 40) {
                                    that.$selectableUl.focus();
                                    return false;
                                }
                            });

                        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                            .on('keydown', function (e) {
                                if (e.which == 40) {
                                    that.$selectionUl.focus();
                                    return false;
                                }
                            });
                    },
                    afterSelect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    },
                    afterDeselect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    }
                });

                // Select2
                $(".select2").select2();

                $(".select2-limiting").select2({
              maximumSelectionLength: 2
            });

               });

               //Bootstrap-TouchSpin
               $(".vertical-spin").TouchSpin({
                  verticalbuttons: true,
                    buttondown_class: "btn btn-primary",
                    buttonup_class: "btn btn-primary",
                  verticalupclass: 'ion-plus-round',
                  verticaldownclass: 'ion-minus-round'
              });
              var vspinTrue = $(".vertical-spin").TouchSpin({
                  verticalbuttons: true
              });
              if (vspinTrue) {
                  $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
              }

              $("input[name='demo1']").TouchSpin({
                  min: 0,
                  max: 100,
                  step: 0.1,
                  decimals: 2,
                  boostat: 5,
                  maxboostedstep: 10,
                    buttondown_class: "btn btn-primary",
                    buttonup_class: "btn btn-primary",
                  postfix: '%'
              });
              $("input[name='demo2']").TouchSpin({
                  min: -1000000000,
                  max: 1000000000,
                  stepinterval: 50,
                    buttondown_class: "btn btn-primary",
                    buttonup_class: "btn btn-primary",
                  maxboostedstep: 10000000,
                  prefix: '$'
              });
              $("input[name='demo3']").TouchSpin({
                    buttondown_class: "btn btn-primary",
                    buttonup_class: "btn btn-primary"
                });
              $("input[name='demo3_21']").TouchSpin({
                  initval: 40,
                    buttondown_class: "btn btn-primary",
                    buttonup_class: "btn btn-primary"
              });
              $("input[name='demo3_22']").TouchSpin({
                  initval: 40,
                    buttondown_class: "btn btn-primary",
                    buttonup_class: "btn btn-primary"
              });

              $("input[name='demo5']").TouchSpin({
                  prefix: "pre",
                  postfix: "post",
                    buttondown_class: "btn btn-primary",
                    buttonup_class: "btn btn-primary"
              });
              $("input[name='demo0']").TouchSpin({
                    buttondown_class: "btn btn-primary",
                    buttonup_class: "btn btn-primary"
                });

                // Time Picker
            jQuery('#timepicker').timepicker({
               defaultTIme : false
            });
            jQuery('#timepicker2').timepicker({
               showMeridian : false
            });
            jQuery('#timepicker3').timepicker({
               minuteStep : 15
            });

            //colorpicker start

                $('.colorpicker-default').colorpicker({
                    format: 'hex'
                });
                $('.colorpicker-rgba').colorpicker();

                // Date Picker
                jQuery('#datepicker').datepicker();
                jQuery('#datepicker-autoclose').datepicker({
                   autoclose: true,
                   todayHighlight: true
                });
                jQuery('#datepicker-inline').datepicker();
                jQuery('#datepicker-multiple-date').datepicker({
                    format: "mm/dd/yyyy",
               clearBtn: true,
               multidate: true,
               multidateSeparator: ","
                });
                jQuery('#date-range').datepicker({
                    toggleActive: true
                });



            //Date range picker
            $('.input-daterange-datepicker').daterangepicker({
               buttonClasses: ['btn', 'btn-sm'],
                  applyClass: 'btn-default',
                  cancelClass: 'btn-primary'
            });
              $('.input-daterange-timepicker').daterangepicker({
                  timePicker: true,
                  format: 'MM/DD/YYYY h:mm A',
                  timePickerIncrement: 30,
                  timePicker12Hour: true,
                  timePickerSeconds: false,
                  buttonClasses: ['btn', 'btn-sm'],
                  applyClass: 'btn-default',
                  cancelClass: 'btn-primary'
              });
              $('.input-limit-datepicker').daterangepicker({
                  format: 'MM/DD/YYYY',
                  minDate: '06/01/2016',
                  maxDate: '06/30/2016',
                  buttonClasses: ['btn', 'btn-sm'],
                  applyClass: 'btn-default',
                  cancelClass: 'btn-primary',
                  dateLimit: {
                      days: 6
                  }
              });

              $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

              $('#reportrange').daterangepicker({
                  format: 'MM/DD/YYYY',
                  startDate: moment().subtract(29, 'days'),
                  endDate: moment(),
                  minDate: '01/01/2016',
                  maxDate: '12/31/2016',
                  dateLimit: {
                      days: 60
                  },
                  showDropdowns: true,
                  showWeekNumbers: true,
                  timePicker: false,
                  timePickerIncrement: 1,
                  timePicker12Hour: true,
                  ranges: {
                      'Today': [moment(), moment()],
                      'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                      'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                      'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                      'This Month': [moment().startOf('month'), moment().endOf('month')],
                      'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                  },
                  opens: 'left',
                  drops: 'down',
                  buttonClasses: ['btn', 'btn-sm'],
                  applyClass: 'btn-success',
                  cancelClass: 'btn-default',
                  separator: ' to ',
                  locale: {
                      applyLabel: 'Submit',
                      cancelLabel: 'Cancel',
                      fromLabel: 'From',
                      toLabel: 'To',
                      customRangeLabel: 'Custom',
                      daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                      monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                      firstDay: 1
                  }
              }, function (start, end, label) {
                  console.log(start.toISOString(), end.toISOString(), label);
                  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
              });


            </script>

    </body>
</html>